/* fonts */

@font-face {
    font-family: "Lato";
    src: url("../font/Lato-Regular.ttf");
}

@font-face {
    font-family: "DINPro Light";
    src: url("../font/DINPro-Light.otf") format("opentype");
}

html,
body {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
}

body {
    font-family: 'DINPro Regular', Helvetica, sans-serif;
    font-size: 1rem;
    color: #484848;
}

img,
embed object,
video {
    max-width: 100%;
    max-height: 100%;
}

a,
button {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3 {
    font-family: "Lato";
}

p {
    font-family: "DINPro Light";
}



/* .contentrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.contentrow>div {
    margin-top: 5em;
}

.navbar {
    padding: .5rem 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26)
}

.nav-item{
    margin-left: 2em;
}

.nav-item a {
    color: #0080b7;
    text-decoration: none;
}

.nav-item a:hover {
    color: #0080b7;
    padding-bottom: .5em;
    border-bottom: 3px solid #009DE0;
}

.title a {
    vertical-align: center;
}

.logo {
    width: 60px;
}

/* hero */

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    height: 700px;
}

.hero_text {
    position: absolute;
    text-align: center;
    z-index: 1;
    margin-top: 4em;
}

.hero h2 {
    color: #009DE0;
}

.hero_cta {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 5em;
}

.hero_cta img {
    width: 40px;
}

.hero_img {
    position: relative;
}

.hero_cta a{
    text-decoration: none;
    padding: .5em 1em;
    color: #009DE0;
    border: 2px solid #009DE0;
    border-radius: 10px;
}
.hero_cta a{
    text-decoration: none;
}

.card{
    padding: 2em 0;
}
.row{
    margin-top: 5em;
}
/* content */

.text_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_content>div,
ul {
    padding: 0;
    text-align: center;
}

.text_content li {
    margin: .5em 0;
}

/* d3 css */

#map {
    height: 400px;
    margin-bottom: 4em;
    padding: 0;
}

.loc,
.loc svg {
    position: absolute;
}

.loc svg {
    width: 60px;
    height: 20px;
    padding-right: 100px;
    font: 10px sans-serif;
}

.loc circle {
    fill: orange;
    stroke: black;
    stroke-width: 1.5px;
}


.square1 {
    width: 20px;
    height: 20px;
    background: #BEAED4;
}

.square2 {
    width: 20px;
    height: 20px;
    background: #FDC086;
}

.square3 {
    width: 20px;
    height: 20px;
    background: #067bc2;
}

.square4 {
    width: 20px;
    height: 20px;
    background: #84bcda;
}

.square5 {
    width: 20px;
    height: 20px;
    background: #7FC97F;
}

.square6 {
    width: 20px;
    height: 20px;
    background: orange;
}

#barchart {
    padding: 1em;
}

#num_accident {
    padding: 1em;
}

#crash {
    margin: 2em;
}

#op_cost_legend ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/* map */

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.tooltip {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: black;
}


/* hexbins */

#mapContainer {
    margin:0;
    background-color: #333;
    height: 400px;
}

#tooltip {
    opacity: .9;
    background: #333;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    pointer-events: none;
}

/* interaction */

#data1 {
    border-radius: 4px;
    background-color: darkred;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding:0.5em 1em;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#data2 {
    border-radius: 4px;
    background-color: orange;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding:0.5em 1em;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.bar{
    cursor: pointer;
}

.crash-type {
    margin-top:0 !important;
    margin-left:2em;
}