/* fonts */

@font-face {
    font-family: "Lato";
    src: url("../font/Lato-Regular.ttf");
}

@font-face {
    font-family: "DINPro Light";
    src: url("../font/DINPro-Light.otf") format("opentype");
}

html,
body {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
}

body {
    font-family: 'DINPro Regular', Helvetica, sans-serif;
    font-size: 1rem;
    color: #484848;
}

img,
embed object,
video {
    max-width: 100%;
    max-height: 100%;
}

a,
button {
    /* make sure clickable elements are easy to tap on mobile devices */
    min-width: 48px;
    min-height: 48px;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3 {
    font-family: "Lato";
}

p {
    font-family: "DINPro Light";
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* grid */

.row {
    display: flex;
    flex-wrap: wrap;
}


[class*="col-"] {
    padding: 0;
    width: 100%;
    /* border: 1px solid red; */
}

/* tab + pc size */

@media screen and (min-width: 600px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

.contentrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contentrow > div{
    margin-top:5em;
}
.header {
    padding: .5rem 1.5rem;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26)
}

.nav {
    display: flex;
}

.nav_item {
    margin-right: 5em;
}

.nav_item a {
    color: #0080b7;
}

.nav_item a:hover,
a:focus {
    color: #44443E;
    padding-bottom: .5em;
    border-bottom: 3px solid #009DE0;
}

.title a {
    vertical-align: center;
}

.logo {
    width: 60px;
}

/* hero */

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 2em;
    height: 700px;
}

.hero_text {
    position: absolute;
    text-align: center;
    z-index: 1;
    margin-top: 4em;
}

.hero h1 {
    color: #009DE0;
}

.hero_cta {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 5em;
}

.hero_cta img {
    width: 40px;
}

.hero_img {
    position: relative;
}

.button_cta {
    padding: .5em 1em;
    color: #009DE0;
    border: 2px solid #009DE0;
    border-radius: 10px;
}

/* content */
.text_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_content > div, ul {
    padding: 0;
    text-align: center;
}

.text_content li {
    margin: .5em 0;
}

/* .card{
    position: relative;
    background: #fff;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    transition: all .3s ease;
    max-height: 400px;
  } */


/* d3 css */

#map {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
  }

  .loc,
  .loc svg {
    position: absolute;
  }

  .loc svg {
    width: 60px;
    height: 20px;
    padding-right: 100px;
    font: 10px sans-serif;
  }

  .loc circle {
    fill: orange;
    stroke: black;
    stroke-width: 1.5px;
  }

path {
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
}

path.line1 {
    stroke: steelblue;
}

path.line2 {
    stroke: goldenrod;
}

path.line3 {
    stroke: blueviolet;
}

path.line4 {
    stroke: green;
}

path.line5 {
    stroke: grey;
}

rect.bar {
    fill: palevioletred;
}

.square1 {
    width: 20px;
    height: 20px;
    background: #BEAED4;
}
.square2 {
    width: 20px;
    height: 20px;
    background: #FDC086;
}
.square3 {
    width: 20px;
    height: 20px;
    background: #067bc2;
}
.square4 {
    width: 20px;
    height: 20px;
    background: #84bcda;
}
.square5 {
    width: 20px;
    height: 20px;
    background: #7FC97F;
}
.square6 {
    width: 20px;
    height: 20px;
    background: #f37748DD;
}


#barchart {
    padding: 1em;
}

#num_accident {
    padding: 1em;
}

#crash {
    margin: 2em;
}

#op_cost_legend ul{
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  align-items: center;

}